body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', "Noto Sans",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden !important;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .template {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .template .container {
    background-color: #ffffff;
    border: 1px none;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%; 
  
    /* Adjust width for small devices (up to 350px) */
    @media (max-width: 350px) {
      width: 90%; /* Adjust as needed */
    }
  
    /* Adjust width for medium devices (between 350px and 700px) */
    @media (min-width: 350px) and (max-width: 700px) {
      width: 70%; /* Adjust as needed */
    }
  
    /* Adjust width for larger devices (700px and above) */
    @media (min-width: 700px) {
      width: 60%; /* Adjust as needed */
    }
  }
  
  .template .header {
    background-color: #ffffff;
    height: 48px;
    width: 100%;
    text-align: center;
  }
  
  .header .title {
    background-color: var(--n-10);
    border: 0;
    color: #1c222b;
    font-family: "Noto Sans", Helvetica;
    font-size: 18px;
    font-weight: 700;
    height: 18px;
    letter-spacing: -0.18px;
    line-height: 18px;
    padding: 0;
    position: relative;
    top: 12px;
    white-space: nowrap;
    width: 54px;
  }
  
  .page {
   width: 100%;
   padding: 4rem 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
  }

  .page .card-list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: flex-start;
  
    /* For medium devices (e.g., tablets) */
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    /* For small devices (e.g., smartphones) */
    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  .card-list .card-container {
    width: calc(100% - 0.5px);
  }
  
  .card-container .card {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }
  
  .card .cover-image {
    background-color: #eceef2;
    border: 1px solid;
    border-color: #ffffff;
    aspect-ratio: 1 / 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card .imagesmode {
    height: 28px;
    width: 28px;
  }
  
  .card .info {
    align-items: center;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    padding: 8px 16px 16px;
    position: relative;
    width: 100%;
    display: flex;
  }
  
  .info .name {
    color: var(--n-10);
    font-family: "Noto Sans CJK KR-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 14px;
    letter-spacing: -0.14px;
    line-height: 14px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 82.54%;
  }
  
  .info .price-box {
    align-items: flex-start;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    width: 82.54%;
  }
  
  .price-box .discount {
    color: var(--error);
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 14px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .price-box .price {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 3px;
    position: relative;
  }
  
  .price .value {
    color: var(--n-11);
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .price .currency {
    color: var(--n-10);
    font-family: "Noto Sans CJK KR-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
    line-height: 14px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }

  .loading-card-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .message {
    padding: 4px;
    text-align: center;
  }
  